:root {
  --clr-neutral-100: #fff;
  --clr-neutral-400: #474554;
  --clr-primary-200: #bac9e8;
  --clr-primary-300: #3c7dff;
  --clr-primary-400: #0044cc;
  --clr-primary-500: #0c1832;

  --ff-base: "IBM Plex Serif", serif;
  --ff-accent: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  zoom: 38%;
  font-size: 1rem;
  font-family: var(--ff-base);
  line-height: 1.65;
  background-color: #b8c6e3;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-title {
  font-family: var(--ff-accent);
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 0.2rem;
}

.cta {
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 550px;
}

.cta p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cta.bg-light {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-500);
}

.cta.bg-neutral {
  background-color: #f5f6f5;
  color: var(--clr-primary-500);
}

.cta.bg-accent {
  background-color: var(--clr-primary-400);
  color: white;
}

.cta.bg-dark {
  background-color: var(--clr-primary-500);
  color: white;
}

.btn {
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-size: 0.875rem;
  font-weight: 200;
  margin-right: 0.8rem;
  display: inline-block;
}

.btn-primary {
  background-color: var(--clr-primary-400);
  color: white;
}

.btn-secondary {
  background-color: #111827;
  color: white;
}

.btn-outline {
  border: 2px solid var(--clr-primary-300);
  color: var(--clr-primary-300);
  background: transparent;
}

.bg-accent .btn-primary {
  background-color: white;
  color: var(--clr-primary-400);
}

.bg-accent .btn-outline {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

.bg-dark .btn-primary {
  background-color: var(--clr-primary-300);
  color: white;
}

.bg-dark .btn-outline {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

.bg-dark .btn-secondary {
  background-color: white;
  color: var(--clr-primary-300);
}
